.products{
  padding: 20px 80px;
  margin-bottom: 10px;
}

.products-container p.price{
  font-size: 20px;
}


.price-value{
  color: #007bff;
  font-weight: 600;
}
.mrp{
  text-decoration: line-through;
}
.products-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}



.product-card {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center;
  padding: 20px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 16px;
  margin: 10px;
}

.product-card p {
  margin: 5px 10px;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  gap: 5px;
}

.page-numbers button.active {
  background-color: #0056b3;
  font-weight: bold;
}
